@model ClassListViewModel

@{
    ViewData["ClassName"] = " | Class Catalog";

    // aliases to make paging, sorting, and filtering code shorter
    RouteDictionary current = Model.CurrentRoute;
    RouteDictionary routes = Model.CurrentRoute.Clone();
}

<h1>Class Catalog</h1>

@* filter form *@
<form asp-action="Filter" method="post" class="form-inline">
    <label>Teacher: </label>
    <select name="filter" class="form-control m-2"
            asp-items="@(new SelectList(
            Model.Teachers, "TeacherId", "FullName", current.AuthorFilter))">
        <option value="@ClassesGridDTO.DefaultFilter">All</option>
    </select>

    <label>ClassType: </label>
    <select name="filter" class="form-control m-2"
            asp-items="@(new SelectList(
            Model.Genres, "ClassTypeId", "Name", current.GenreFilter))">
        <option value="@ClassesGridDTO.DefaultFilter">All</option>
    </select>

    <label>StartDate: </label>
    <select name="filter" class="form-control m-2"
            asp-items="@(new SelectList(
            Model.Prices, "Key", "Value", current.PriceFilter))">
        <option value="@ClassesGridDTO.DefaultFilter">All</option>
    </select>

    <button type="submit" class="btn btn-primary mr-2">Filter</button>
    <button type="submit" class="btn btn-primary"
            name="clear" value="true">
        Clear
    </button>
</form>

@* add to cart form *@
<form asp-action="Add" asp-controller="MyClass" method="post">
    <table class="table table-bordered table-striped table-sm">
        @* for each table column, update the route dictionary with the field to sort by, and then use
            that route dictionary and the current route to create route segments for sorting link *@
        <thead class="thead-dark">
            <tr>
                <th>
                    @{ routes.SetSortAndDirection(nameof(Class.ClassName), current); }
                    <a asp-action="List" asp-all-route-data="@routes"
                       class="text-white">ClassName</a>
                </th>
                <th>
                    Teacher(s)
                </th>
                <th>
                    @{ routes.SetSortAndDirection(nameof(ClassType), current); }
                    <a asp-action="List" asp-all-route-data="@routes"
                       class="text-white">ClassType</a>
                </th>
                <th>
                    @{ routes.SetSortAndDirection(nameof(Class.StartDate), current); }
                    <a asp-action="List" asp-all-route-data="@routes"
                       class="text-white">StartDate</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Class book in Model.Classes)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@book.ClassId"
                           asp-route-slug="@book.ClassName.Slug()">
                            @book.ClassName
                        </a>
                    </td>
                    <td>
                        @foreach (var ba in book.ClassTeachers)
                        {
                            <p>
                                <a asp-action="Details" asp-controller="Teacher"
                                   asp-route-id="@ba.TeacherId"
                                   asp-route-slug="@ba.Teacher.FullName.Slug()">
                                    @ba.Teacher.FullName
                                </a>
                            </p>
                        }
                    </td>
                    <td>@book.ClassType?.Name</td>
                    <td>@book.StartDate.ToString("c")</td>
                    <td>
                        
                        <button type="submit" name="id" value="@book.ClassId"
                                class="btn btn-primary">
                            Add To MyClass
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@* paging links *@
@{
    @* Reset the route dictionary to the current route values. This is necessary
        to clear the changes made while creating the sorting links above. Clone so
        don't overwrite current route segment values. *@
    routes = Model.CurrentRoute.Clone();

    @* update route dictionary with page number in 'i' and then use
        updated route dictionary to create route segments for paging link.*@
    for (int i = 1; i <= Model.TotalPages; i++)
    {
        routes.PageNumber = i;
        <a asp-action="List" asp-all-route-data="@routes"
           class="btn btn-outline-primary @Nav.Active(i, current.PageNumber)">@i</a>
    }
}
