@model TeacherListViewModel
@{
    ViewData["ClassTitle"] = " | Teacher Catalog";
    //makes paging and sorting shorter
    RouteDictionary current = Model.CurrentRoute;
    RouteDictionary routes = Model.CurrentRoute.Clone();
}

<h1>Teachers</h1>

<table class="table table-bordered table-striped table-sm">
    <thead class="thead-dark">
        <tr>
            <th>
                @{ routes.SetSortAndDirection(nameof(Teacher.FirstName), current); }
                <a asp-action="List" asp-all-route-data="@routes"
                   class="text-white">First Name</a>
            </th>
            <th>
                @{ routes.SetSortAndDirection(nameof(Teacher.LastName), current); }
                <a asp-action="List" asp-all-route-data="@routes"
                   class="text-white">Last Name</a>
            </th>
            <th>Class(es)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Teacher teacher in Model.Teachers)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@teacher.TeacherId"
                   asp-route-slug="@teacher.FullName.Slug()">
                    @teacher.FirstName
                </a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@teacher.TeacherId"
                   asp-route-slug="@teacher.FullName.Slug()">
                    @teacher.LastName
                </a>
            </td>
            <td>
                @foreach (var ct in teacher.ClassTeachers)
                {
                    <p>
                        <a asp-action="Details" asp-controller="Class"
                           asp-route-id="@ct.ClassId"
                           asp-route-slug="@ct.Class.ClassTitle.Slug()">
                            @ct.Class.ClassTitle
                        </a>
                    </p>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
@{
    routes = Model.CurrentRoute.Clone();
    for (int i = 1; i <= Model.TotalPages; i++)
    {
        routes.PageNumber = i;
        <a asp-action="List" asp-all-route-data="@routes"
           class="btn btn-outline-dark @Nav.Active(i, current.PageNumber)">@i</a>
    }
}
